<template name="postPage">
<p class="hidden">{{title}}: {{description}}</p>
<img class="hidden" src="{{image}}">
	<a href="javascript:history.back()" data-transition-out="slideRightOut" data-transition-in="slideRightIn">
		<div class="back-btn">
			<span class="fa fa-chevron-left"></span>
		</div>
	</a>
	
<div class="fullscreen-toggle">
     <button type="button" class="btn btn-sm btn-default btn-orbitist" data-toggle="modal" data-target="#myModal"><span class="fa fa-list-ul"></span> Info</button>
</div><!-- fullscreen-toggle -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
      </div>
      <div class="modal-body">
        {{#markdown}}{{description}}{{/markdown}}
        <small>This map was built with <a href="http://orbitist.com">the Orbitist platform</a>. It is powered by <a href="http://leafletjs.com">Leaflet</a>, <a href="https://www.mapbox.com/about/maps/">© Mapbox</a>, <a href="https://www.openstreetmap.org/about">© OpenStreetMap</a>, and <a href="http://maps.stamen.com/">Stamen Design</a>. <a href="https://www.mapbox.com/map-feedback/">Improve this map</a>.</small><br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{#if mp3}}
  		<!-- Audio to interact with the map -->
		<div class="audio-controls">
			<audio id="song" ontimeupdate="updateTime()">
				<source src="{{mp3}}" type="audio/mp3"/>
				<source src="{{ogg}}" type="audio/ogg">
  				Your browser does not support audio. Please update your browser!
			</audio>
			<div class="container">
				<div class="row">
					<div class="col-xs-1">
						<!-- Div that plays song, onclick calls the javascript play function and passes the id of the audio tag with the appropriate song -->
						<div id="songPlay" onclick="play('song')">
							<span class="fa fa-play"></span>
						</div>
					</div><!-- col-xs-1 -->
					<div class="col-xs-1 col-xs-offset-1">
						<!-- Div that pauses the song when clicked.  Calls the pause button when clicked. -->
						<div id="songPause" onclick="pause()">
							<span class="fa fa-pause"></span>
						</div>
					</div><!-- col-xs-1 -->
					<div class="col-xs-1">
						<!-- Div that updates with current song time while playing -->
						<div id="songTime">0:00 / 0:00</div>
					</div><!-- col-xs-1 -->
					<div class="col-xs-7">
						<!-- Song Slider tracks progress on song time change, if you click it sets the distance into the song based on the percentage of where was clicked -->
						<div id="songSlider" onclick="setSongPosition(this,event)">
							<div id="trackProgress"></div>
						</div>
					</div><!-- col-xs-8 -->
				</div><!-- row -->
			</div><!-- container -->
		</div><!-- audio-controls -->
{{/if}}

<!-- map -->
<div class="map" id="map"></div>
		
<script>
// Set lat/long where the map initiates and at what zoom level
var map = new L.Map('map', {
});

// Add an OpenStreetMap tile layer
L.tileLayer('{{tileLayer}}', {
	attribution: '&copy; <a href="http://mapbox.com">Mapbox</a>'
}).addTo(map);
</script>
		
<script>
// GeoJSON is pasted before the semi-colon below:
var orbitistGeoJson = {{geojson}};
  
// Markers are configured here:
var orbitistIcon = L.icon({
 	iconUrl: '{{marker}}',
    iconSize:     [30, 30], // size of the icon
    iconAnchor:   [15, 30], // point of the icon which will correspond to marker's location
    popupAnchor:  [1, -20] // point from which the popup should open relative to the iconAnchor
    });
  
// ADVANCED: This tells the map what goes in popups.
function orbitistPopup(feature, layer) {
    // does this feature have a property named popupContent?
    if (feature.properties && feature.properties.name) {
        layer.bindPopup(feature.properties.description, {closeButton: true});
    }
}

// ADVANCED: This adds the markers to the map.
var bounds = L.geoJson(orbitistGeoJson, {
    pointToLayer: function (feature, latlng) {
        return L.marker(latlng, {icon: orbitistIcon});
    },
    onEachFeature: orbitistPopup
}).addTo(map);

map.fitBounds(bounds);

// Add cartodb layer
cartodb.createLayer(map, '{{cartodb}}')
	.addTo(map)
	.on('done', function(layer) {
		//do stuff
	});

</script>

{{#if timeline}}
<script>
  /* Hook up the Talkie integration to our map */
  var tl = TalkieLeaflet(map);

  /* Talkie timeline config */
  var timeline = Talkie.timeline("#song", {
{{timeline}}
  });

  // Tell TalkieLeaflet that we want to revert user changes to the map view
  //
  // If we don’t call this, then the scripted setViews will still work but
  // user changes will not pause the timeline or be reverted.
   tl.undoViewChanges(timeline);
</script>
{{/if}}

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{{> analytics}}
</template>