<template name="postSubmit">
	<div class="container">

  <form class="main form page">
  
<!-- Title -->
    <div class="form-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Name your post" class="form-control"/>
      </div>
    </div>
    
<!-- Description -->    
    <div class="form-group">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
          <textarea name="description" id="description" type="text" value="" placeholder="Describe your map" class="form-control" rows="3"></textarea>
      </div>
    </div>
    
<!-- Category -->
    <div class="form-group">
      <label class="control-label" for="category">Category</label>
      <div class="controls">
        <select name="category" id="category" type="text" value="" placeholder="--Choose a tile layer--" class="form-control">
			<option value="science">Science</option>
			<option value="history">History</option>
			<option value="politics">Politics</option>
			<option value="entertainment">Entertainment</option>
			<option value="culture">Culture</option>
	  </select>
	  </div>
	</div>
    
<!-- Image -->
    <div class="form-group">
      <label class="control-label" for="image">Image</label>
      <div class="controls">
          <input name="image" id="image" type="text" value="" placeholder="Add an image URL for this post." class="form-control"/>
      </div>
    </div>
    
<!-- GeoJSON -->
    <div class="form-group">
      <label class="control-label" for="geojson">GeoJSON</label>
      <div class="controls">
          <textarea name="geojson" id="geojson" type="text" value="" placeholder="Paste your GeoJSON here" class="form-control" rows="3"></textarea>
      </div>
    </div>
    
<!-- Tile Layer -->
    <div class="form-group">
      <label class="control-label" for="tileLayer">Tile Layer</label>
      <div class="controls">
          <select name="tileLayer" id="tileLayer" type="text" value="" placeholder="--Choose a tile layer--" class="form-control">
          	<option value="http://{s}.tiles.mapbox.com/v4/orbitist.e0829b40/{z}/{x}/{y}@2x.png?access_token=pk.eyJ1Ijoib3JiaXRpc3QiLCJhIjoiYnpUTnJBdyJ9.uxgaJ0R9ZNsCcEnPNfo2ag">Orbitist</option>
          	<option value="http://{s}.tiles.mapbox.com/v4/orbitist.l224oc04/{z}/{x}/{y}@2x.png?access_token=pk.eyJ1Ijoib3JiaXRpc3QiLCJhIjoiYnpUTnJBdyJ9.uxgaJ0R9ZNsCcEnPNfo2ag">Light</option>
          	<option value="http://{s}.tiles.mapbox.com/v4/orbitist.l1o3234f/{z}/{x}/{y}@2x.png?access_token=pk.eyJ1Ijoib3JiaXRpc3QiLCJhIjoiYnpUTnJBdyJ9.uxgaJ0R9ZNsCcEnPNfo2ag">Dark</option>
          	<option value="http://{s}.tiles.mapbox.com/v4/orbitist.if1em1bg/{z}/{x}/{y}@2x.png?access_token=pk.eyJ1Ijoib3JiaXRpc3QiLCJhIjoiYnpUTnJBdyJ9.uxgaJ0R9ZNsCcEnPNfo2ag">Satellite</option>
          	<option value="http://{s}.tiles.mapbox.com/v4/orbitist.l3d32kbn/{z}/{x}/{y}@2x.png?access_token=pk.eyJ1Ijoib3JiaXRpc3QiLCJhIjoiYnpUTnJBdyJ9.uxgaJ0R9ZNsCcEnPNfo2ag">Comic</option>
          	<option value="http://{s}.tiles.mapbox.com/v4/orbitist.l0op74ap/{z}/{x}/{y}@2x.png?access_token=pk.eyJ1Ijoib3JiaXRpc3QiLCJhIjoiYnpUTnJBdyJ9.uxgaJ0R9ZNsCcEnPNfo2ag">Pirate</option>
          	<option value="http://{s}.tiles.mapbox.com/v4/orbitist.m0hj4159/{z}/{x}/{y}@2x.png?access_token=pk.eyJ1Ijoib3JiaXRpc3QiLCJhIjoiYnpUTnJBdyJ9.uxgaJ0R9ZNsCcEnPNfo2ag">Wheatpaste</option>
          	<option value="http://{s}.tiles.mapbox.com/v4/orbitist.m0hj04oi/{z}/{x}/{y}@2x.png?access_token=pk.eyJ1Ijoib3JiaXRpc3QiLCJhIjoiYnpUTnJBdyJ9.uxgaJ0R9ZNsCcEnPNfo2ag">Pencil</option>
          </select>
      </div>
    </div>
    
<!-- Marker -->
    <div class="form-group">
      <label class="control-label" for="marker">Marker</label>
      <div class="controls">
          <select name="marker" id="marker" type="text" value="" placeholder="--Choose a marker--" class="form-control">
          	<option value="http://orbitist.s3.amazonaws.com/_toplevel/images/map-icons/orbitist-icon-blue.png">Orbitist-blue</option>
          	<option value="http://orbitist.s3.amazonaws.com/_toplevel/images/map-icons/orbitist-icon-orange.png">Orbitist-orange</option>
          </select>
      </div>
    </div>
    
<!-- CartoDB -->	
    <div class="form-group">
      <label class="control-label" for="cartodb">CartoDB api code</label>
      <div class="controls">
          <input name="cartodb" id="cartodb" type="text" value="" placeholder="Add a cartodb api code here." class="form-control"/>
      </div>
    </div>
    
    
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
  
  </div><!-- container -->
</template>