/** Top Level **/
html {
background: url(http://orbitist.s3.amazonaws.com/_toplevel/images/backgrounds/cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
background-color: rgba(0,0,0,0.4);
}

li {
font-family: 'Ubuntu', sans-serif;
}

a {
color: rgba(30,93,129,0.8);
}

a:hover {
color: rgba(30,93,129,1);
}

.navbar-default {
background-color: rgba(30,93,129,1);
}

/** Typography **/

.orbitist-m {
font-size:16px;
margin-top: 22px;
color: #333;
}

.orbitist-brand {
font-family: 'Ubuntu', sans-serif;
color: rgba(241,194,137,1);
}

/** Orbitist Buttons **/
.btn-default {
background-color: rgba(30,93,129,0.8);
border-color: rgba(30,93,129,0.6);
color: #eee;
}

.btn-default:hover {
background-color: rgba(30,93,129,1);
border-color: rgba(30,93,129,0.8);
color: white;
}

.btn-orbitist {
background-color: rgba(241,194,137,0.8);
border-color: rgba(241,194,137,0.6);
color: #777;
}

.btn-orbitist:hover {
background-color: rgba(241,194,137,1);
border-color: rgba(241,194,137,0.8);
color: #333;
}

/** Shadows **/
.panel, .btn {
-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

/** Logo **/
.logo img {
width: 35px;
border-radius: 8px;
margin-right: 5px;
margin-left: 5px;
}

/** Back Button **/
.back-btn {
position: fixed;
top: 10px;
left: 10px;
font-size: 20px !important;
z-index: 9;
width: 36px;
height: 36px;
background-color: rgba(30,93,129,0.8);
border-radius: 50%;
border-color: rgba(241,194,137,0.8);
padding-left: 9px;
padding-top: 5px;
-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.back-btn .fa {
color: #eee;
}

.fullscreen-toggle {
position: fixed;
right: 10px;
top: 10px;
z-index: 40;
}

.fullscreen-toggle .btn-orbitist {
background-color: rgba(241,194,137,0.95);
}



/* Logo */
.orbitist-logo {
width: 35px;
border-radius: 8px;
margin-top: 8px;
margin-bottom: 8px;
opacity: 1;
}

.navbar>.container .navbar-brand {
margin-left: 0px;
font-family: 'Ubuntu', sans-serif;
color: rgba(241,194,137,1);
}

/* Navbar Buttons */
.navbar-nav>li>a.nav-button {
padding-top: 2px;
padding-bottom: 0px;
}

.navbar li:hover {
background-color: rgba(0,0,0,0.6);
}


/* Navbar overrides */
.navbar {
background-color: rgba(0,0,0,0);
border-color: rgba(0,0,0,0);
}

.navbar-default .navbar-nav>li>a {
color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
color: #fff;
}

.navbar-default .navbar-brand {
color: #fff;
}
.navbar-default .navbar-brand:hover {
color: #fff;
}

@media (max-width: 768px) {
	.navbar {
	background-color: rgba(0,0,0,0.6);
	border-color: rgba(0,0,0,0.6);
	}
}

.navbar .container {
max-width: 1170px;
}