.posts-list {
background-color: rgba(0,0,0,0.3);
min-height: 100%;
}

.post-item {
padding: 15px;
border-radius: 10px;
background-color: rgba(0,0,0,0.5);
margin-top: 8px;
}

.post-item:hover {
background-color: rgba(0,0,0,0.8);
}

.post-image {
max-height: 150px;
overflow: hidden;
}

.post-image img {
margin-top: -15%;
}

.post-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-top: 10px;
  color: #ccc;
}

.post-arrow {
color: #ccc;
}

@media (max-width: 600px) {
	.container {
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	}
}