.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner {
  background-color: #F1C289;
}

.pg-loading-screen .pg-loading-logo {
width: 100px;
}