<template name="sidebar">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
	  <div class="list-group">
	    <a href="http://orbitist.com" class="list-group-item"><img width="50" src="http://orbitist.s3.amazonaws.com/_toplevel/images/logos/orbitist-helmet.png"></a>
		<a href="/" class="list-group-item">Freshest maps</a>
		<a href="/science" class="list-group-item">Science</a>
		<a href="/entertainment" class="list-group-item">Entertainment</a>
		<a href="/culture" class="list-group-item">Culture</a>
		<a href="/history" class="list-group-item">History</a>
		<a href="/politics" class="list-group-item">Politics</a>
	  </div>
	</div><!--/.sidebar-offcanvas-->
</template>