<template name="postPage">

	<!-- Spinner -->
	<div class="spinner">
		<div class="sk-spinner sk-spinner-pulse"></div>
	</div>

	<!-- map -->
	<div class="map" id="map"></div>

	<!-- map info button -->
	<div class="fullscreen-toggle z10">
			<button type="button" class="map-button btnmapinfo"><i class="fa fa-info-circle"></i> Info</button>
	</div><!-- fullscreen-toggle -->

	<!-- Story Slide -->
	<div class="story-slide z20">
		<button type="button" class="map-button btnmapinfo btnmapinfo-close" aria-label="Close"><i class="fa fa-times"></i></button>
		<div class="mapinfo"></div>
		<div class="explore-container">
			<button type="button" class="map-button btn-explore btnmapinfo" data-dismiss="modal">Explore <i class="fa fa-long-arrow-right"></i></button>
		</div><!-- explore-container -->
	</div><!-- story-slide -->

	<!-- Home Button -->
	<a href="/" class="home-button z10"><span class="fa fa-caret-left"></span> <img src="http://orbitist.s3.amazonaws.com/_toplevel/images/logos/orbitist.png" width="20px"> Orbitist News</a>

	<!-- Orbitist Custom scripts -->
	<script src="https://app.orbitist.com/launch/cdn/orbitist-js/custom.js"></script>
		
	<script>
	// Get mapid from the URL query string
	function getUrlVars()
	{
			var vars = [], hash;
			var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
			for(var i = 0; i < hashes.length; i++)
			{
					hash = hashes[i].split('=');
					vars.push(hash[0]);
					vars[hash[0]] = hash[1];
			}
			return vars;
	}
	var mapId = {{ mapid }};
		
	// Retrieve map info
	$(document).ready(
			function(){
					$.getJSON(
							'https://app.orbitist.com/api/v1/map_info.json?nid=' + mapId,
							function(data){
									// ciclo l'array
									for(i=0; i<data.length; i++){
											var  content  = '<img src="';
													 content +=  data[i].mapimage;
													 content  += '" class="img-responsive">';
													 content  += '<div class="story-slide-content"><h4>';
													 content +=  data[i].maptitle;
													 content  += '</h4>';
													 content +=  data[i].mapbody;
													 content +=  '</div>';
													 cartodbkey =  data[i].mapcartodbkey;
													 basemapurl =  data[i].mapbasemap;
													 custombasemapurl = data[i].custombasemap;
													 customcss = data[i].mapcss;
											$('div.mapinfo').append(content);
											$('head').append('<style>' + customcss + '</style>');
						// Add cartodb layer
						cartodb.createLayer(map, cartodbkey).addTo(map);
						// Add an OSM tile layer
						L.tileLayer(custombasemapurl + basemapurl, {
						attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors Â© <a href="http://mapbox.com/map-feedback/">Mapbox</a>'
						}).addTo(map);
									}
							}
					);
			}
	);

	// Set lat/long where the map initiates and at what zoom level
	var map = new L.Map('map',{maxZoom: 18});





	// Get points //
	var json = (function () {
			var json = null;
			$.ajax({
					'async': false,
					'global': false,
					'url': 'https://app.orbitist.com/api/v1/geojson/' +  mapId,
					'dataType': "json",
					'success': function (data) {
							json = data;
					}
			});
			return json;
	})(); 
 
	var orbitistGeoJson = json;
	
	// ADVANCED: This tells the map what goes in popups.
	function orbitistPopup(feature, layer) {
			// does this feature have a property named popupContent?
			if (feature.properties && feature.properties.name) {
					layer.bindPopup(feature.properties.description, {closeButton: true});
			}
	}

	// Set cluster var 
	var markers = L.markerClusterGroup({maxClusterRadius: 25, disableClusteringAtZoom: 17});

	// Add markers to map based on geojson
	var geoJsonLayer = L.geoJson(orbitistGeoJson, {
		pointToLayer: function(feature, latlng) {
			 var smallIcon = L.divIcon({
	className: feature.properties.mapPointIconClass,
	iconSize: [30, 30],
	iconAnchor: [15, 30],
	popupAnchor: [0, -28]
			 });
			 return L.marker(latlng, {icon: smallIcon});
		},
			onEachFeature: orbitistPopup
	});

	markers.addLayer(geoJsonLayer);
	map.addLayer(markers);
	map.fitBounds(markers.getBounds());

	// Use leaflet hash
	var hash = new L.Hash(map);
	// Use leaflet locate control
	L.control.locate().addTo(map);
	</script>
	
	<!-- spinner -->
	<script>
	$(document).ready(function() {
		$(this).find(".spinner").delay(2000).fadeOut(1000, function () {
			$(this).css({display:"none"});
		});
	});
	</script>

  <!-- Deal with Tweets -->
	<script>
		$(".leaflet-marker-icon").click(function(){
			 setTimeout(function() {
					twttr.widgets.load()
			 }, 100);
		});
	</script>
	<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	
	{{> analytics}}
</template>