<template name="postItem">
	<div class="row">
		<div class="col-sm-3">
			<a href="{{pathFor 'postPage'}}"><img src="{{ image }}" class="img-responsive img-rounded"></a>
		</div><!-- /.col-sm-3 -->
		<div class="col-sm-9">
			<a href="{{pathFor 'postPage'}}"><h2>{{ title }}</h2></a>
			<p class="lead">{{ description }}</p> 
			<a href="{{pathFor 'postPage'}}" class="btn btn-default pull-right"><span class="fa fa-globe"></span> View map</a>
		</div><!-- /.col-sm-9 -->
	</div><!-- /.row -->
	<hr>
</template>